---
import GalleryVeniceSeriesGroup1 from "./GalleryVeniceSeriesGroup1.astro";
import GalleryVeniceSeriesGroup2 from "./GalleryVeniceSeriesGroup2.astro";
import GalleryVeniceSeriesGroup3 from "./GalleryVeniceSeriesGroup3.astro";
import GalleryVeniceSeriesGroup4 from "./GalleryVeniceSeriesGroup4.astro";
import ContainerGalleries from "../ContainerGalleries.astro";
---

<ContainerGalleries>
  <div class="columns-3xs xl:columns-4">
    <GalleryVeniceSeriesGroup1 />
    <GalleryVeniceSeriesGroup2 />
    <GalleryVeniceSeriesGroup3 />
    <GalleryVeniceSeriesGroup4 />
  </div>
</ContainerGalleries>
