.picture-container {
  position: relative;
  border-radius: 0.375rem;
  .overlay {
    border-radius: 0.375rem;
  }
  picture {
    border-radius: 0.375rem;
    &::after {
      border-radius: 0.375rem;
    }
  }
  img {
    border-radius: 0.375rem;
  }
  &:hover {
    .overlay {
      opacity: 1;
    }
  }
}
.overlay {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
}
