---
import ContainerTexts from "../components/ContainerTexts.astro";
import TimelineListItem from "../components/TimelineListItem.astro";
import Layout from "../layouts/Layout.astro";
import { routes } from "../utils/constants.mjs";
---

<Layout
  title="About"
  description="Biografia e intenzioni di Luca Pontrandolfo."
  endpoint={routes.ABOUT}
>
  <ContainerTexts>
    <section class="format lg:format-lg max-w-none">
      <h2>Bio</h2>
      <p>
        Luca Pontrandolfo, artista contemporaneo, vive e lavora a Torino
        (Italia) Diplomato all’ “Accademia Albertina di Belle Arti” di Torino,
        oltre a studi, con professionisti, in Computer Grafica e Fotografia.
      </p>
      <p>
        L.P. lavora essenzialmente in Computer Grafica, Mixed Media su tela,
        pittura ad Acrilici, Lightbox.
      </p>
      <p>
        Ha partecipato con i propri lavori in varie Mostre Collettive, Premi
        Nazionali e Internazionali.
      </p>
    </section>
    <hr class="my-10" />
    <section>
      <header class="format lg:format-lg max-w-none mb-8">
        <h2>Partecipazioni</h2>
      </header>
      <div class="ml-5">
        <ol class="relative border-l border-gray-200">
          <TimelineListItem
            exhibitionName="Badiani Art Space"
            location="London (GB)"
          />
          <TimelineListItem
            exhibitionName="Lau_Notari Art Studio"
            location="Hilversum/Amsterdam (NL)"
          />
          <TimelineListItem exhibitionName="Caboto 35" location="Torino (TO)" />
          <TimelineListItem
            exhibitionName="Mostra Internazionale “Italia Arte”"
            location="Villa Gualino, Torino"
          />
          <TimelineListItem
            exhibitionName="“Athensart” International Art Exhibition"
            location="Athens (GR)"
          />
          <TimelineListItem
            exhibitionName="Galleria “San Gregorio Art Gallery”"
            location="Venezia"
          />
          <TimelineListItem
            exhibitionName="Mostra “Unione” “Elle Galleria”"
            location="Preganziol (TV)"
          />
          <TimelineListItem
            exhibitionName="“1° “Biennale d’Arte”"
            location="Genovarte (GE)"
          />
          <TimelineListItem
            exhibitionName="II Ed.“PremioCeleste” per la pittura figurativa"
            location="San Gimignano (SI)"
          />
          <TimelineListItem
            exhibitionName="10° Premio “Saturarte”"
            location="Genova"
          />
          <TimelineListItem
            exhibitionName="“Premio Internazionale Espoarte”"
            location="Albissola Marina (SV)"
          />
          <TimelineListItem
            exhibitionName="“XXVI Rassegna d’Arte Internazionale “La Telaccia d’oro”"
            location="Torino"
          />
          <TimelineListItem
            exhibitionName="Mostra “L’uomo e il mare”"
            location="Savona"
          />
          <TimelineListItem
            exhibitionName="3° Concorso di pittura"
            location="Città di Venaria Reale (TO)"
          />
          <TimelineListItem
            exhibitionName="“Mostra Art Studio “, Galleria Abaco"
            location="Torino"
          />
          <TimelineListItem
            exhibitionName="“Il Quadrifoglio”"
            location="Rivoli (TO)"
          />
          <TimelineListItem
            exhibitionName="Mostra di pittura Art Studio"
            location="Torino"
          />
          <TimelineListItem
            exhibitionName="“International Mail Project” CARISMA"
            location="Torino"
          />
        </ol>
      </div>
    </section>
    <hr class="my-10" />
    <section class="format lg:format-lg max-w-none">
      <h2>Note Stilistiche</h2>
      <p>
        La ricerca artistica di L.P. si sviluppa in termini prettamente
        figurativi, attingendo alla linfa dei movimenti del Novecento, in
        particolare Metafisica e Pop Art.
      </p>
      <p>
        Usando metodi e tecniche della percezione dell’immagine e della
        comunicazione, tende a creare un modo personale di rappresentazione di
        idee e soggetti. L’obiettivo finale di ogni artista e’ dare emozioni
        attraverso il proprio lavoro.
      </p>
      <p>
        L.P. e’ artista che ama sperimentare nuove tecniche e immaginare mondi
        diversi nello spazio intermedio tra surrealismo e visione. Una tecnica
        figurativa per un contenuto da interpretare e sicuramente moderno, che
        sta tra ambiente, ecologia, universo e l’Uomo…(G.F.)
      </p>
    </section>
  </ContainerTexts>
</Layout>
