---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="Contacts">
  <h2>Contatti</h2>
  <p>
    Per informazioni sulle mie opere e le prossime esibizioni, contattatemi
    tramite i seguenti canali
  </p>
  <Icon name="ic:baseline-phone" />
  <Icon name="ic:baseline-email" />
</Layout>
