---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon";
import SocialsBar from "../components/SocialsBar.astro";
import { routes } from "../utils/constants.mjs";
import ContainerTexts from "../components/ContainerTexts.astro";
---

<Layout
  title="Contacts"
  description="Contatti di Luca Pontrandolfo."
  endpoint={routes.CONTACTS}
>
  <ContainerTexts>
    <div class="format lg:format-lg max-w-none">
      <h2>Contatti</h2>
      <p>
        Per informazioni sulle mie opere e le prossime esibizioni, contattatemi
        tramite i seguenti canali:
      </p>
      <div class="flex items-center mt-6">
        <a href="mailto: luca.pontrandolfo@gmail.com" class="mr-2">
          <Icon name="ic:baseline-email" class="w-6 h-6" fill="currentColor" />
        </a>
        <a href="mailto: luca.pontrandolfo@gmail.com"
          >luca.pontrandolfo@gmail.com
        </a>
      </div>
      <div class="mt-5"><SocialsBar /></div>
    </div>
  </ContainerTexts>
</Layout>
