---
import Base from "../layouts/Base.astro";
import MainGallery from "../components/MainGallery.astro";
import LandingHero from "../components/LandingHero.astro";
import HeroText from "../components/HeroText.astro";
import ContentPointer from "../components/ContentPointer.astro";
import { routes } from "../utils/constants.mjs";
---

<Base
  title="Homepage"
  description="Galleria d'arte digitale dell'autore Luca Pontrandolfo."
  endpoint={routes.INDEX}
>
  <ContentPointer />
  <LandingHero>
    <div class="image-gradient h-screen">
      <HeroText />
    </div>
  </LandingHero>
  <MainGallery />
</Base>
<style>
  .image-gradient {
    background: rgb(24, 32, 36);
    background: linear-gradient(
      118deg,
      rgba(24, 32, 36, 1) 0%,
      rgba(0, 0, 0, 0.2945553221288515) 100%
    );
  }
</style>
