---
import Layout from "../layouts/Layout.astro";
import MainGallery from "../components/MainGallery.astro";
import Slideshow from "../components/Slideshow.astro";
import HeroText from "../components/HeroText.astro";
---

<Layout title="Homepage">
  <Slideshow>
    <div class="flex items-center w-screen h-screen format text-5xl">
      <HeroText />
    </div>
  </Slideshow>
  <MainGallery />
</Layout>
