---
import Layout from '../layouts/Layout.astro';
import Gallery from '../components/Gallery.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Luca Pontrandolfo Portfolio</h1>
		<Gallery />
	</main>
</Layout>
<style>
	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
	}
</style>