---
import GalleryTurinSeriesGroup1 from "./GalleryTurinSeriesGroup1.astro";
import GalleryTurinSeriesGroup2 from "./GalleryTurinSeriesGroup2.astro";
import GalleryTurinSeriesGroup3 from "./GalleryTurinSeriesGroup3.astro";
import GalleryTurinSeriesGroup4 from "./GalleryTurinSeriesGroup4.astro";
import ContainerGalleries from "../ContainerGalleries.astro";
---

<ContainerGalleries>
  <div class="columns-3xs xl:columns-4">
    <GalleryTurinSeriesGroup1 />
    <GalleryTurinSeriesGroup2 />
    <GalleryTurinSeriesGroup3 />
    <GalleryTurinSeriesGroup4 />
  </div>
</ContainerGalleries>
