---
import GalleryPaintingsSeriesGroup1 from "./GalleryPaintingsSeriesGroup1.astro";
import GalleryPaintingsSeriesGroup2 from "./GalleryPaintingsSeriesGroup2.astro";
import GalleryPaintingsSeriesGroup3 from "./GalleryPaintingsSeriesGroup3.astro";
import GalleryPaintingsSeriesGroup4 from "./GalleryPaintingsSeriesGroup4.astro";
import ContainerGalleries from "../ContainerGalleries.astro";
import "../../styles/masonry.css";
---

<ContainerGalleries>
  <div class="row">
    <div class="column">
      <GalleryPaintingsSeriesGroup1 />
    </div>
    <div class="column">
      <GalleryPaintingsSeriesGroup2 />
    </div>
    <div class="column">
      <GalleryPaintingsSeriesGroup3 />
    </div>
    <div class="column">
      <GalleryPaintingsSeriesGroup4 />
    </div>
  </div>
</ContainerGalleries>
