---
import GalleryPaintingsSeriesGroup1 from "./GalleryPaintingsSeriesGroup1.astro";
import GalleryPaintingsSeriesGroup2 from "./GalleryPaintingsSeriesGroup2.astro";
import GalleryPaintingsSeriesGroup3 from "./GalleryPaintingsSeriesGroup3.astro";
import GalleryPaintingsSeriesGroup4 from "./GalleryPaintingsSeriesGroup4.astro";
import ContainerGalleries from "../ContainerGalleries.astro";
---

<ContainerGalleries>
  <div class="columns-3xs xl:columns-4">
    <GalleryPaintingsSeriesGroup1 preload="webp" />
    <GalleryPaintingsSeriesGroup2 preload="webp" />
    <GalleryPaintingsSeriesGroup3 preload="webp" />
    <GalleryPaintingsSeriesGroup4 preload="webp" />
  </div>
</ContainerGalleries>
