---
import { Icon } from "astro-icon";
---

<div class="absolute bottom-6 z-10 w-full h-full">
  <div class="flex justify-center items-end h-full">
    <Icon
      name="ph:arrow-fat-line-down-fill"
      class="w-10 h-10 animate-bounce text-white"
    />
  </div>
</div>
