---
import Container from "./Container.astro";
import PictureWrapper from "./PictureWrapper.astro";
import "../styles/masonry.css";
---

<Container>
  <div class="row">
    <div class="column">
      <PictureWrapper
        src="/src/images/torinoSeries/ReflexTOn.1.png"
        title="ReflexTOn 1"
      />
      <PictureWrapper
        src="/src/images/torinoSeries/ReflexTOn.3.png"
        title="ReflexTOn 3"
      />
      <PictureWrapper
        src="/src/images/torinoSeries/ReflexTOn.5.png"
        title="ReflexTOn 5"
      />
    </div>
    <div class="column">
      <PictureWrapper
        src="/src/images/torinoSeries/ReflexTOn.2.png"
        title="ReflexTOn 2"
      />
      <PictureWrapper
        src="/src/images/torinoSeries/ReflexTOn.4.png"
        title="ReflexTOn 4"
      />
      <PictureWrapper
        src="/src/images/torinoSeries/ReflexTOn.6.png"
        title="ReflexTOn 6"
      />
    </div>
    <div class="column">
      <PictureWrapper
        src="/src/images/torinoSeries/ReflexTOn.7.png"
        title="ReflexTOn 7"
      />
      <PictureWrapper
        src="/src/images/torinoSeries/ReflexTOn.8.png"
        title="ReflexTOn 8"
      />
    </div>
    <div class="column">
      <PictureWrapper
        src="/src/images/torinoSeries/ReflexTOn.9.png"
        title="ReflexTOn 9"
      />
      <PictureWrapper
        src="/src/images/torinoSeries/ReflexTOn.10.png"
        title="ReflexTOn 10"
      />
    </div>
  </div>
</Container>
