<div class='container'>
    <div class='large'>
        <img
            src='https://images.pexels.com/photos/595747/pexels-photo-595747.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260'>
    </div>
    <div class='medium'>
        <img
            src='https://images.pexels.com/photos/305255/pexels-photo-305255.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260'>
    </div>
    <div class='small'>
        <img
            src='https://images.pexels.com/photos/1029039/pexels-photo-1029039.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260'>
    </div>
    <div class='large'>
        <img
            src='https://images.pexels.com/photos/983436/pexels-photo-983436.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260'>
    </div>
    <div class='small'>
        <img
            src='https://images.pexels.com/photos/1028437/pexels-photo-1028437.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260'>
    </div>
    <div class='large'>
        <img
            src='https://images.pexels.com/photos/963436/pexels-photo-963436.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260'>
    </div>
    <div class='small'>
        <img
            src='https://images.pexels.com/photos/1028599/pexels-photo-1028599.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260'>
    </div>
    <div class='medium'>
        <img
            src='https://images.pexels.com/photos/814372/pexels-photo-814372.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=660'>
    </div>
    <div class='small'>
        <img
            src='https://images.pexels.com/photos/1018797/pexels-photo-1018797.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260'>
    </div>
    <div class='medium'>
        <img
            src='https://images.pexels.com/photos/830912/pexels-photo-830912.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260'>
    </div>
    <div class='large'>
        <img
            src='https://images.pexels.com/photos/890500/pexels-photo-890500.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260'>
    </div>
    <div class='small'>
        <img
            src='https://images.pexels.com/photos/863985/pexels-photo-863985.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260'>
    </div>
    <div class='medium'>
        <img
            src='https://images.pexels.com/photos/398549/pexels-photo-398549.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=960'>
    </div>
    <div class='small'>
        <img
            src='https://images.pexels.com/photos/1024252/pexels-photo-1024252.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260'>
    </div>
    <div class='large'>
        <img
            src='https://images.pexels.com/photos/91216/pexels-photo-91216.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260'>
    </div>
    <div class='small'>
        <img
            src='https://images.pexels.com/photos/1018350/pexels-photo-1018350.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260'>
    </div>
    <div class='large'>
        <img
            src='https://images.pexels.com/photos/881462/pexels-photo-881462.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260'>
    </div>
    <div class='medium'>
        <img
            src='https://images.pexels.com/photos/380285/pexels-photo-380285.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260'>
    </div>
    <div class='medium'>
        <img
            src='https://images.pexels.com/photos/837500/pexels-photo-837500.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260'>
    </div>
</div>
<style>
    body {
        margin: 0;
    }

    .container {
        width: 80vw;
        margin: 3em auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-auto-rows: 50px;
        grid-auto-flow: dense;
        grid-gap: 5px;
    }

    .large,
    .medium,
    .small {
        display: flex;
        height: 100%;
        width: 100%;
        grid-column: auto / span 1;
    }

    .large {
        grid-row: span 4;
    }

    .medium {
        grid-row: span 3;
    }

    .small {
        grid-row: span 2;
    }

    .container img {
        width: 100%;
        height: auto;
        -o-object-fit: cover;
        object-fit: cover;
    }
</style>