---
import Container from "./Container.astro";
import PictureWrapper from "./PictureWrapper.astro";
import "../styles/masonry.styles.css";
---

<Container>
  <div class="row">
    <div class="column">
      <PictureWrapper
        src="/src/images/veniceSeries/VE-flexn1.png"
        title="VE-flexn 1"
      />
      <PictureWrapper
        src="/src/images/veniceSeries/VE-flexn5.png"
        title="VE-flexn 5"
      />
      <PictureWrapper
        src="/src/images/veniceSeries/VE-flexn9.png"
        title="VE-flexn 9"
      />
    </div>
    <div class="column">
      <PictureWrapper
        src="/src/images/veniceSeries/VE-flexn2.png"
        title="VE-flexn 2"
      />
      <PictureWrapper
        src="/src/images/veniceSeries/VE-flexn6.png"
        title="VE-flexn 6"
      />
      <PictureWrapper
        src="/src/images/veniceSeries/VE-flexn10.png"
        title="VE-flexn 10"
      />
    </div>
    <div class="column">
      <PictureWrapper
        src="/src/images/veniceSeries/VE-flexn3.png"
        title="VE-flexn 3"
      />
      <PictureWrapper
        src="/src/images/veniceSeries/VE-flexn7.png"
        title="VE-flexn 7"
      />
      <PictureWrapper
        src="/src/images/veniceSeries/VE-flexn11.png"
        title="VE-flexn 11"
      />
    </div>
    <div class="column">
      <PictureWrapper
        src="/src/images/veniceSeries/VE-flexn4.png"
        title="VE-flexn 4"
      />
      <PictureWrapper
        src="/src/images/veniceSeries/VE-flexn8.png"
        title="VE-flexn 8"
      />
    </div>
  </div>
</Container>
