---
import Container from "./Container.astro";
import PictureWrapper from "./PictureWrapper.astro";
---

<Container>
  <div class="row">
    <div class="column">
      <PictureWrapper
        src="/src/images/veniceSeries/VE-flexn1.png"
        title="VE-flexn 1"
      />
      <PictureWrapper
        src="/src/images/veniceSeries/VE-flexn5.png"
        title="VE-flexn 5"
      />
      <PictureWrapper
        src="/src/images/veniceSeries/VE-flexn9.png"
        title="VE-flexn 9"
      />
    </div>
    <div class="column">
      <PictureWrapper
        src="/src/images/veniceSeries/VE-flexn2.png"
        title="VE-flexn 2"
      />
      <PictureWrapper
        src="/src/images/veniceSeries/VE-flexn6.png"
        title="VE-flexn 6"
      />
      <PictureWrapper
        src="/src/images/veniceSeries/VE-flexn10.png"
        title="VE-flexn 10"
      />
    </div>
    <div class="column">
      <PictureWrapper
        src="/src/images/veniceSeries/VE-flexn3.png"
        title="VE-flexn 3"
      />
      <PictureWrapper
        src="/src/images/veniceSeries/VE-flexn7.png"
        title="VE-flexn 7"
      />
      <PictureWrapper
        src="/src/images/veniceSeries/VE-flexn11.png"
        title="VE-flexn 11"
      />
    </div>
    <div class="column">
      <PictureWrapper
        src="/src/images/veniceSeries/VE-flexn4.png"
        title="VE-flexn 4"
      />
      <PictureWrapper
        src="/src/images/veniceSeries/VE-flexn8.png"
        title="VE-flexn 8"
      />
    </div>
  </div>
</Container>
<style>
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }

  /* This is not working */
  /* .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  } */

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
</style>
