---
import Container from "./Container.astro";
import "../styles/masonry.styles.css";
import PictureWrapper from "./PictureWrapper.astro";
---

<Container>
  <div class="row">
    <div class="column">
      <PictureWrapper
        src="/src/images/firstgallery/1PlanetEarth.png"
        title="Planet Earth"
      />
      <PictureWrapper
        src="/src/images/firstgallery/5Accademia.png"
        title="Accademia"
      />
      <PictureWrapper src="/src/images/firstgallery/9South.png" title="South" />
      <PictureWrapper
        src="/src/images/secondGallery/1Accademiatoo.png"
        title="Accademia too"
      />
      <PictureWrapper src="/src/images/secondGallery/5Temple.png" title="Temple"
      />
      <PictureWrapper src="/src/images/secondGallery/9Time.png" title="Time" />
    </div>
    <div class="column">
      <PictureWrapper
        src="/src/images/firstgallery/2Tothemusiccity.png"
        title="To the music city"
      />
      <PictureWrapper src="/src/images/firstgallery/6Why_.png" title="Why" />
      <PictureWrapper src="/src/images/firstgallery/10Canal.png" title="Canal"
      />
      <PictureWrapper src="/src/images/secondGallery/2Anyway.png" title="Anyway"
      />
      <PictureWrapper
        src="/src/images/secondGallery/6Casanova.png"
        title="Casanova"
      />
      <PictureWrapper
        src="/src/images/secondGallery/10Jazzman.png"
        title="Jazzman"
      />
      <PictureWrapper src="/src/images/secondGallery/13M.M.png" title="M.M" />
    </div>
    <div class="column">
      <PictureWrapper
        src="/src/images/firstgallery/3Through.png"
        title="Through"
      />
      <PictureWrapper
        src="/src/images/firstgallery/7Carnival.png"
        title="Carnival"
      />
      <PictureWrapper
        src="/src/images/firstgallery/11Contact.png"
        title="Contact"
      />
      <PictureWrapper
        src="/src/images/secondGallery/3Newconctact.png"
        title="New contact"
      />
      <PictureWrapper
        src="/src/images/secondGallery/7Holiday.png"
        title="Holiday"
      />
      <PictureWrapper
        src="/src/images/secondGallery/11Jazzworld.png"
        title="Jazzworld"
      />
    </div>
    <div class="column">
      <PictureWrapper src="/src/images/firstgallery/4Earth.png" title="Earth" />
      <PictureWrapper
        src="/src/images/firstgallery/8CoffeeBreak.png"
        title="Coffee break"
      />
      <PictureWrapper src="/src/images/firstgallery/12Gold.png" title="Gold" />
      <PictureWrapper src="/src/images/secondGallery/4Oceans.png" title="Oceans"
      />
      <PictureWrapper
        src="/src/images/secondGallery/8Piazzan1.png"
        title="Piazzan1"
      />
      <PictureWrapper
        src="/src/images/secondGallery/12Rockstar.png"
        title="Rockstar"
      />
    </div>
  </div>
</Container>
