<div class="ml-8 md:ml-16 lg:ml-20 2xl:ml-28 pt-32 lg:pt-[10%]">
  <h2 class="text-white format font-['Playfair_Display'] leading-none">
    <strong
      class="font-black text-4xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:text-[9rem]"
      >LUCA <br /> PONTRANDOLFO</strong
    >
    <div
      class="font-normal text-3xl md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-[7rem]"
    >
      PORTFOLIO
    </div>
  </h2>
</div>
<style>
  @font-face {
    font-family: "playfair_display";
    src: url("/fonts/playfairdisplay-variablefont_wght.woff2") format("woff2"),
      url("/fonts/playfairdisplay-variablefont_wght.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>
