---
import { BackgroundPicture } from "astro-imagetools/components";
import { sharedPictureProps } from "@utils/sharedPictureProps";
import HeroText from "./HeroText.astro";
---

<BackgroundPicture
  src="/src/images/firstgallery/3Through.png"
  objectPosition="80% 80%"
  {...sharedPictureProps}
  width={1181}
  loading="eager"
  artDirectives={[
    {
      media: "(min-aspect-ratio: 3/2)",
      src: "/src/images/firstgallery/3Through.png",
      objectPosition: "50% 80%",
    },
  ]}
>
  <div class="image-gradient h-screen">
    <HeroText />
  </div>
</BackgroundPicture>
<style>
  .image-gradient {
    background: rgb(24, 32, 36);
    background: linear-gradient(
      118deg,
      rgba(24, 32, 36, 1) 0%,
      rgba(0, 0, 0, 0.2945553221288515) 100%
    );
  }
</style>
