---
import { Picture } from "astro-imagetools/components";
import Container from "./Container.astro";
---

<Container>
  <div class="row">
    <div class="column">
      <Picture
        src="/src/images/firstgallery/1PlanetEarth.png"
        alt="artwork called Planet Earth"
      />
    </div>
    <div class="column">
      <Picture
        src="/src/images/firstgallery/2Tothemusiccity.png"
        alt="artwork called To the music city"
      />
    </div>
    <div class="column">
      <Picture
        src="/src/images/firstgallery/3Through.png"
        alt="artwork called Through"
      />
    </div>
    <div class="column">
      <Picture
        src="/src/images/firstgallery/4Earth.png"
        alt="artwork called Earth"
      />
    </div>
    <div class="column">
      <Picture
        src="/src/images/firstgallery/5Accademia.png"
        alt="artwork called Accademia"
      />
    </div>
    <div class="column">
      <Picture src="/src/images/firstgallery/6Why_.png" alt="artwork called Why"
      />
    </div>
  </div>
</Container>
