---
import GalleryPaintingsSeriesGroup1 from "./GalleryPaintingsSeries/GalleryPaintingsSeriesGroup1.astro";
import GalleryPaintingsSeriesGroup2 from "./GalleryPaintingsSeries/GalleryPaintingsSeriesGroup2.astro";
import GalleryPaintingsSeriesGroup3 from "./GalleryPaintingsSeries/GalleryPaintingsSeriesGroup3.astro";
import GalleryPaintingsSeriesGroup4 from "./GalleryPaintingsSeries/GalleryPaintingsSeriesGroup4.astro";
import GalleryTurinSeriesGroup1 from "./GalleryTurinSeries/GalleryTurinSeriesGroup1.astro";
import GalleryTurinSeriesGroup2 from "./GalleryTurinSeries/GalleryTurinSeriesGroup2.astro";
import GalleryTurinSeriesGroup3 from "./GalleryTurinSeries/GalleryTurinSeriesGroup3.astro";
import GalleryTurinSeriesGroup4 from "./GalleryTurinSeries/GalleryTurinSeriesGroup4.astro";
import GalleryVeniceSeriesGroup1 from "./GalleryVeniceSeries/GalleryVeniceSeriesGroup1.astro";
import GalleryVeniceSeriesGroup2 from "./GalleryVeniceSeries/GalleryVeniceSeriesGroup2.astro";
import GalleryVeniceSeriesGroup3 from "./GalleryVeniceSeries/GalleryVeniceSeriesGroup3.astro";
import GalleryVeniceSeriesGroup4 from "./GalleryVeniceSeries/GalleryVeniceSeriesGroup4.astro";
import ContainerGalleries from "./ContainerGalleries.astro";
import "../styles/masonry.css";
---

<ContainerGalleries>
  <div class="row">
    <div class="column">
      <GalleryPaintingsSeriesGroup1 />
      <GalleryVeniceSeriesGroup1 />
      <GalleryTurinSeriesGroup1 />
    </div>
    <div class="column">
      <GalleryPaintingsSeriesGroup2 />
      <GalleryVeniceSeriesGroup2 />
      <GalleryTurinSeriesGroup2 />
    </div>
    <div class="column">
      <GalleryPaintingsSeriesGroup3 />
      <GalleryVeniceSeriesGroup3 />
      <GalleryTurinSeriesGroup3 />
    </div>
    <div class="column">
      <GalleryPaintingsSeriesGroup4 />
      <GalleryVeniceSeriesGroup4 />
      <GalleryTurinSeriesGroup4 />
    </div>
  </div>
</ContainerGalleries>
