---
export interface Props {
  text: string;
  href: string;
  isActive?: boolean;
}

const { text, href, isActive } = Astro.props as Props;
---

<li class="pl-4 pr-8 py-3 hover:bg-gray-100 font-normal rounded">
  <a href={href} rel="prefetch" class={`format leading-none hover:bg-gray-100`}
    >{text}
  </a>
</li>
