---
export interface Props {
  text: string;
  href: string;
  isActive?: boolean;
}

const { text, href, isActive } = Astro.props as Props;
---

<li>
  <a
    href={href}
    rel="prefetch"
    class="block pl-4 pr-8 py-3 rounded format font-normal leading-none hover:bg-gray-100"
    >{text}
  </a>
</li>
