---
export interface Props {
  text: string;
  href: string;
  isActive?: boolean;
}

const { text, href, isActive } = Astro.props as Props;
---

<li>
  <a
    href={href}
    rel="prefetch"
    class={`block py-2 px-4 ${
      isActive ? "bg-gray-100" : ""
    } format leading-none hover:hover:bg-gray-100`}
    >{text}
  </a>
</li>
