---
export interface Props {
  text: string;
  href: string;
  isActive?: boolean;
}

const { text, href, isActive } = Astro.props as Props;
---

<li class="min-w-[4rem] min-h-[1.2rem]">
  <a
    href={href}
    rel="prefetch"
    class={`block py-2 ${
      isActive ? "text-slate-800" : ""
    } rounded format leading-none hover:bg-gray-100 md:hover:bg-transparent md:hover:text-slate-800 md:p-0`}
    >{text}
  </a>
</li>
