---
import { Picture } from "astro-imagetools/components";
import { sharedPictureProps } from "../utils/sharedPictureProps";
import "../styles/images.styles.css";
---

<div class="container mt-1 mb-1">
  <Picture
    src="/src/images/torinoSeries/ReflexTOn.1.png"
    alt="artwork called ReflexTOn"
    {...sharedPictureProps}
  />
  <div class="overlay">
    <div class="text">ReflexTOn</div>
  </div>
</div>
