---
import { Picture } from "astro-imagetools/components";
import { sharedPictureProps } from "../utils/sharedPictureProps";
import "../styles/imagesOverlayEffect.styles.css";
export interface Props {
  src: string;
  title: string;
}

const { src, title } = Astro.props as Props;
---

<div class="picture-container mb-2">
  <Picture src={src} alt={`artwork called ${title}`} {...sharedPictureProps} />
  <div class="overlay">
    <div class="text format">{title}</div>
  </div>
</div>
