---
import BaseIcon from "./BaseIcon.astro";
---

<div class="flex items-center space-x-7">
  <a
    href="https://www.facebook.com/luca.pontrandolfo"
    target="_blank"
    rel="noopener noreferrer"
    class="text-gray-500 hover:text-gray-900"
  >
    <BaseIcon name="ic:baseline-facebook" title="Facebook page" />
  </a>
  <a
    href="https://www.instagram.com/lucapontrandolfo/"
    target="_blank"
    rel="noopener noreferrer"
    class="text-gray-500 hover:text-gray-900"
  >
    <BaseIcon name="mdi:instagram" title="Instagram page" />
  </a>
  <a
    href="https://www.artstation.com/pontrandolfo"
    target="_blank"
    rel="noopener noreferrer"
    class="text-gray-500 hover:text-gray-900"
  >
    <BaseIcon name="mdi:artstation" title="Artstation page" />
  </a>
  <a
    href="https://artaporter.it/artista/luca-pontrandolfo/"
    target="_blank"
    rel="noopener noreferrer"
    class="text-gray-500 hover:text-gray-900"
  >
    <BaseIcon name="artaporter" title="Artaporter page" sizes={5} />
  </a>
  <a
    href="https://www.premioceleste.it/ita_artista_news/idu:176/"
    target="_blank"
    rel="noopener noreferrer"
    class="text-gray-500 hover:text-gray-900 no-underline"
  >
    <strong class="text-lg font-extrabold align-middle">C,</strong>
  </a>
</div>
